body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.print {
  display: none;
  width: 95%;
  margin: 0 auto;
}

@media print {
  body * {
    visibility: hidden;
    print-color-adjust: exact;
    -webkit-print-color-adjust: exact;
  }
  @page {
    size: legal;
    margin: 0;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible;
  }

  .print {
    display: block !important;
  }
}
